@use "./variables" as *;
/// COLORS.SCSS ///

// PRIMARY COLORS //

$global-text: #13182c;
//instock black
$primary-interactive: #2e66e5;
//instock-indigo
$global-white: #ffffff;
//white

// SECONDARY COLORS //

$secondary-text: #5c667e;
//slate
//table column headers
//placeholder text

$cloud: #bdc5d5;
//cloud
//outlines, deviders, borders, table sorting icon

// BACKGROUND COLORS //

$graphite: #232940;
//top navigation header bg
//cta button hover state bg

$light-grey: #f7f8f9;
//page bg
//table column header bg
//cta bg

// SUPPORTING COLORS //

$green: #158463;
//"in stock" label

$red: #c94515;
//"out of stock" label
//error states
// delete icon
