@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.footer {
    margin: 0 auto;
    @include flex(space-between, center, row, nowrap);
    width: 30%;

    &__arrow-right {
        @include flex(center, center, row, nowrap);
        background-color: #3E3AF8;
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }

    &__arrow-left {
        @include flex(center, center, row, nowrap);
        background-color: #3E3AF8;
        opacity: 40%;
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }

    &__text {
        @include subheader;
    }
}