@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.search {
  @include flex(flex-start, center, row, nowrap);
  position: relative;
  margin: 1rem 0;
  width: 45rem;

  &__button {
    position: absolute;
    right: 12%;
    background: transparent;
    padding: 0rem;
    border: none;
    outline: none;
  }

  &__icon-search {
    width: 1.1875rem;
    height: 1.1875rem;
    object-fit: cover;
  }

    &__input {
        background-color: #EBEBEB;
        width: 42.31rem;
        height: 3.125rem;
        border: none;
        border-radius: 20px;
        outline: none;
        padding:0.75rem 1rem 0.4375rem 1.56rem;
        object-fit: cover;
        box-shadow: 0 0 0px 1000px #EBEBEB inset;

        &::placeholder {
            @include header-h6;
        }

        &[type = "search"]::-webkit-search-cancel-button{
            display: none;
        }

    &[type="search"] {
      @include header-h6;
    }
  }
}

.sort-game {
  @include flex(space-around, center, row, nowrap);
  margin-right: auto;
  
  &__select-option {
    gap: 18px;
    width: 120px;
    height: 38px;
    margin-right: 1.2rem;
    background-color: #452a89;
    color: #ffffff;
    border-radius: 20px;
    @include header-h6;
    padding: 7px 17px 9px 18px;
    background-image: url("../../assets/arrow-down.png");
    background-repeat: no-repeat;
    background-position: 91%;
    -webkit-appearance: none;
  }

}
